/* COLOURS */
/* DARK 191919 */
/* GREY  d9d9d9*/
/* WHITE f0f0f0*/
/* GREEN 00cc88*/

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

body {
  overflow-x: hidden;
}

.dark {
  background-color: #191919;
}

* {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  color: #f0f0f0;
}

nav li {
  display: inline-block;
  margin-right: 16px;
}

nav li:last-of-type {
  margin-right: 0px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #00cc88;
}

.heavy {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
}

.white-text {
  color: #f0f0f0;
}

/* ACCESSORY */

.spacer {
  width: 100%;
  height: 64px;
}

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  align-items: flex-end;
}

.item-1-sm {
  order: 1;
}

.item-2-sm {
  order: 2;
}

.item-3-sm {
  order: 3;
}

.item-4-sm {
  order: 4;
}


@media only screen and (max-width: 720px){

  /* TYPOGRAPHY */

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.4;
  margin-top: 44px;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.75;
}

p {
  font-size: 1.75rem;
  line-height: 1.6;
}

p.x-large {
  font-size: 1.8rem;
  line-height: 1.425;
}

p.med {
  font-size: 1.25rem;
  line-height: 1.75;
}

p.small {
  font-size: 0.825rem;
  line-height: 1.8;
}

p.label {
  font-size: 1rem;
  line-height: 1.5;
}

li {
  list-style: none;
  font-size: 1rem;
  line-height: 1.5;
}

/* CONTENT */

section {
  padding-top: 48px;
}

.navigation {
  margin-top: 0;
}

.header {
  margin-bottom: -32px;
}

.footer {
  margin-top: 0px;
  padding-bottom: 32px;
}

.footer p {
  margin-top: 4px;
  margin-bottom: 0;
}
}

@media only screen and (min-width: 721px){
  /* TYPOGRAPHY */

  h1 {
    font-size: 2.3rem;
    line-height: 1.4;
  }

  h2 {
    font-size: 1.875rem;
    line-height: 1.75;
  }

  p {
    font-size: 2.25rem;
    line-height: 1.6;
  }

  p.x-large {
    font-size: 4rem;
    line-height: 1.4;
  }

  p.label {
    font-size: 1rem;
    line-height: 1.3;
  }

  p.med {
    font-size: 1.25rem;
    line-height: 1.75;
  }

  p.small {
    font-size: 0.875rem;
    line-height: 1.8;
  }

  li {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  li.large {
    font-size: 2.125rem;
    line-height: 2;
  }

  .navigation li {
    margin-right: 40px;
  }

  /* CONTENT */

  .footer {
    padding-top: 80px;
    padding-bottom: 40px;
  }


}

@media only screen and (min-width: 1094px) {
  /* TYPOGRAPHY */

  h1 {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-top: 44px;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.75;
  }

  p {
    font-size: 2.5rem;
    line-height: 1.6;
  }

  p.x-large {
    font-size: 5rem;
    line-height: 1.4;
  }

  p.label {
    font-size: 1, 5rem;
    line-height: 1.3;
  }

  p.med {
    font-size: 2rem;
    line-height: 1.75;
  }

  p.small {
    font-size: 0.875rem;
    line-height: 1.8;
  }

  li {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  li.large {
    font-size: 2.5rem;
    line-height: 2;
  }

  /* CONTENT */

  nav {
    margin-top: -40px;
    padding-top: 120px;
  }

  .container {
    padding-top: 120px;
  }

  footer {
    margin-top: 20px;
    padding-top: 120px;
    padding-bottom: 80px;
  }

  footer p {
    margin-top: 8px;
  }
}
