/* COLOURS */
/* DARK 232741 */
/* GREY  d9d9d9*/
/* WHITE f0f0f0*/
/* GREEN 00cc88*/

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

body {
  overflow-x: hidden;
}

.dark {
  background-color: #232741;
}

p {
  font-family: Helvetica, sans-serif;
}

nav li {
  display: inline-block;
  margin-right: 16px;
}

nav li:last-of-type {
  margin-right: 0px;
}

a {
  color: #00cc88;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #00ffaa;
  transition: 0.3s;
  text-decoration: none;
}

.heavy {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
}

.white-text {
  color: #f0f0f0;
}

#contact {
  text-align: center;
}

/* ACCESSORY */

.spacer {
  width: 100%;
  height: 64px;
}

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  align-items: flex-end;
}

.social-icons img {
  width:50px;
  height:50px;
  filter: invert(50%) sepia(87%) saturate(1194%) hue-rotate(121deg) brightness(98%) contrast(102%);
}

.social-icons img:hover {
  filter: invert(76%) sepia(43%) saturate(1423%) hue-rotate(101deg) brightness(94%) contrast(117%);
}

.mailto-link {
  cursor: pointer;
  position: relative;
}

.mailto-message {
  top: 1px;
  left: 50%;
  margin-bottom: -5px;
  transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  font-size: 12px;
  background-color: black;
  color: white;
  border-radius: 2px;
}
.mailto-message:after {
  content: "Click to copy email address";
}
.mailto-message:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 4px;
  margin-left: -4px;
  content:"";
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  content: "Test";
  display: block;
}


@media only screen and (max-width: 720px){

  /* TYPOGRAPHY */

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.4;
  margin-top: 44px;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.75;
}

p {
  font-size: 1.75rem;
  line-height: 1.6;
}

p.x-large {
  font-size: 1.8rem;
  line-height: 1.425;
}

p.med {
  font-size: 1.25rem;
  line-height: 1.75;
}

p.small {
  font-size: 0.825rem;
  line-height: 1.8;
}

p.label {
  font-size: 1rem;
  line-height: 1.5;
}

.right-nav {
  padding-left: 20px;
}

li {
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* CONTENT */

.hide-mobile {
  display:none !important;
  max-width: 0%;
  width: 0px;
}

.show-mobile {
  flex: 0 0 100%;
  max-width: 100%;
}

.align-r {
  text-align: center;
}

.container {
  padding-top: 10px;
}

nav {
  margin-top: 0;
}

#contact {
  margin-top: 0px;
  padding-bottom: 5px;
}

#contact p {
  margin-top: 4px;
  margin-bottom: 0;
}


}

@media only screen and (min-width: 721px){
  /* TYPOGRAPHY */

  h1 {
    font-size: 2.3rem;
    line-height: 1.4;
  }

  h2 {
    font-size: 1.875rem;
    line-height: 1.75;
  }

  p {
    font-size: 2.25rem;
    line-height: 1.6;
  }

  p.x-large {
    font-size: 4rem;
    line-height: 1.4;
  }

  p.label {
    font-size: 1rem;
    line-height: 1.3;
  }

  p.med {
    font-size: 1.25rem;
    line-height: 1.75;
  }

  p.small {
    font-size: 0.875rem;
    line-height: 1.8;
  }

  li {
    font-size: 2rem;
    line-height: 1.5;
  }

  li.large {
    font-size: 2.125rem;
    line-height: 2;
  }

  nav li {
    margin-right: 40px;
  }

  /* CONTENT */

  .container {
    padding-top: 30px;
  }

  #contact {
    margin-top: 10px;
    padding-top: 60px;
    padding-bottom: 10px;
  }

  #contact p {
    margin-top: 4px;
  }

}

@media only screen and (min-width: 1094px) {
  /* TYPOGRAPHY */

  h1 {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-top: 44px;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.75;
  }

  p {
    font-size: 2.5rem;
    line-height: 1.6;
  }

  p.x-large {
    font-size: 5rem;
    line-height: 1.4;
  }

  p.label {
    font-size: 1.5rem;
    line-height: 1.3;
  }

  p.med {
    font-size: 2rem;
    line-height: 1.75;
  }

  p.small {
    font-size: 0.875rem;
    line-height: 1.8;
  }

  li {
    font-size: 2.5rem;
    line-height: 1.5;
  }

  li.large {
    font-size: 2.5rem;
    line-height: 2;
  }

  /* CONTENT */

  .container {
    padding-top: 60px;
  }

  #contact {
    margin-top: 20px;
    padding-top: 120px;
    padding-bottom: 20px;
  }

  #contact p {
    margin-top: 8px;
  }
}