/* COLOURS */
/* DARK 232741 */
/* GREY  d9d9d9*/
/* WHITE f0f0f0*/
/* GREEN 00cc88*/
/* GREEN FOCUS #00ffaa */

/* UNIVERSAL */

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;

}

.light-bg {
  background-color: #F0F0F0;
}

.dark-bg {
  background-color: #232741;
}

.white-text {
  color: #f0f0f0;
}

.icon-padding {
  padding-left: 10px;
  padding-top: 10px;
}

.fancy-font {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: "Chronicle Display Bold",Georgia,serif;
}

.h4 {
  font-family: Gotham,Helvetica,Arial,sans-serif;
}

p {
  font-size: 1.15rem;
  font-weight: 400;
  font-family: Whitney,Helvetica,Arial,sans-serif;
  line-height: 1.5;
}

a {
  color: #00cc88;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #00ffaa;
  transition: 0.3s;
  text-decoration: none;
}

.divider {
  display: block;
  margin: 50px 0;
  width: auto;
  height: 2px;
  background-color: #00cc88;
}

#contact {
  text-align: center;
}

.language-icons img {
  width:50px;
  height:50px;
}

.social-icons img {
  width:50px;
  height:50px;
  filter: invert(50%) sepia(87%) saturate(1194%) hue-rotate(121deg) brightness(98%) contrast(102%);
}

.social-icons img:hover {
  filter: invert(76%) sepia(43%) saturate(1423%) hue-rotate(101deg) brightness(94%) contrast(117%);
}

.icon-small {
  width:30px;
  height:30px;
}

.mailto-link {
  cursor: pointer;
  position: relative;
}

.mailto-message {
  top: 1px;
  left: 50%;
  margin-bottom: -5px;
  transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  font-size: 12px;
  background-color: black;
  color: white;
  border-radius: 2px;
}
.mailto-message:after {
  content: "Click to copy email address";
}
.mailto-message:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 4px;
  margin-left: -4px;
  content:"";
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  content: "Test";
  display: block;
}
