:root {
  --green--color: #00cc88;
  --green--focus--color: #00ffaa;
  --dark--color: #232741;
  --white--color: #f0f0f0;
  --button-font-size: 1.4rem:
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: var(--dark--color);
}

nav {
  background-color: var(--dark--color);
}

.border-green{
  border-color: var(--green--color) !important;
}

.white-text {
  color: var(--white--color);
}

.icon-padding {
  padding-left: 10px;
  padding-top: 10px;
}

.fancy-font {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-family: "Chronicle Display Bold",Georgia,serif;
}

.h4 {
  font-family: Gotham,Helvetica,Arial,sans-serif;
}

p {
  font-size: 1.15rem;
  font-weight: 400;
  font-family: Whitney,Helvetica,Arial,sans-serif;
  line-height: 1.5;
}

a {
  color: var(--green--color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--green--focus--color);
  transition: 0.3s;
  text-decoration: none;
}

.btn {
  color: #000000;
  font-size: var(--button-font-size);
  background-color: var(--green--color);
  border-color: var(--green--color);
}

.btn:hover,
.btn:focus {
  color: #000000;
  font-size:var(--button-font-size);
  background-color: var(--green--focus--color);
  border-color: var(--green--focus--color);
  transition: 0.3s;
  text-decoration: none;
}

.blue-math {
  background-color: #c0d9ff;
}

.yellow-misc {
  background-color: #fff1c5;
}

.green-comp {
  background-color: #c4e9d8;
}

.divider-25 {
  display: block;
  margin: 25px 0;
  width: auto;
  height: 2px;
  background-color: var(--green--color);
}

.divider-5 {
  display: block;
  margin: 5px 0;
  width: auto;
  height: 2px;
  background-color: var(--green--color);
}

.border-bottom-2 {
  border-bottom:2px solid var(--green--color) !important;
}

.pt-6 {
  padding-top:4rem !important;
}

#contact {
  text-align: center;
}

.language-icons img {
  width:50px;
  height:50px;
}

.social-icons img {
  width:50px;
  height:50px;
  filter: invert(50%) sepia(87%) saturate(1194%) hue-rotate(121deg) brightness(98%) contrast(102%);
}

.social-icons img:hover {
  filter: invert(76%) sepia(43%) saturate(1423%) hue-rotate(101deg) brightness(94%) contrast(117%);
}

.icon-small {
  width:30px;
  height:30px;
}

.mailto-link {
  cursor: pointer;
  position: relative;
}

.mailto-message {
  top: 1px;
  left: 50%;
  margin-bottom: -5px;
  transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  font-size: 12px;
  background-color: black;
  color: white;
  border-radius: 2px;
}
.mailto-message:after {
  content: "Click to copy email address";
}
.mailto-message:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(0, 0, 0, 0);
  border-width: 4px;
  margin-left: -4px;
  content:"";
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  content: "Test";
  display: block;
}


@media (min-width: 1200px) {
  .container{
      max-width: 1600px;
  }
}
